@use '../abstracts/variables';

// background color
.bg-darkblue {
    background-color: variables.$color-darkblue;
}

.bg-red {
    background-color: variables.$color-red;
}

// section padding
.pt-40{
    padding-top: 40px;
}

.pb-40{
    padding-bottom: 40px;
}

.pt-80{
    padding-top: 80px;
}

.pb-80{
    padding-bottom: 80px;
}

.upto991-pb-80{
    @media(max-width: 991px){
        padding-bottom: 80px;
    }
}

.upto767-pb-80{
    @media(max-width: 767px){
        padding-bottom: 80px;
    }
}