@use '../abstracts/variables';

.btn-red {
    border: none;
    transition: all 0.2s linear;
    
    div{
        display: inline-block;
        background-color: variables.$color-red;
        padding: 15px 0;
        min-width: 150px;
        max-width: 160px;
        p{
            font-family: "gotham-bold";
            font-size: 22px;
            line-height: 24px;
            color: #fff;
            text-align: center;
        }
    }

    &:hover {
        color: #fff;
        background-color: darken(variables.$color-red, 10);
    }
}

.btn-white {
    border: none;
    transition: all 0.2s linear;

    div{
        display: inline-block;
        min-width: 150px;
        background-color: #fff;
        padding: 15px 0;
        max-width: 160px;
        p{
            color: variables.$color-red;
            font-family: "gotham-bold";
            font-size: 22px;
            line-height: 24px;
            text-align: center;
        }
    }

    &:hover {
        color: variables.$color-darkblue;
        background-color: darken(#fff, 10);
    }
}