.banner {
   .banner-top {
      p {
         font-family: "gotham-book";
         font-size: 22px;
         padding-top: 7px;
         padding-bottom: 7px;

         @media (max-width: 767px) {
            font-size: 18px;
         }
      }
   }


   .banner-bottom {
      display: grid;
      place-items: center;

      h4 {
         font-family: 'Nanum Gothic', sans-serif;
         font-size: 40px;
         color: #fff;


         @media (max-width: 767px) {
            font-size: 28px;
            min-height: 65px;
         }
      }
   }
}