@use '../abstracts/variables';

.header{
   .header-top{
      padding: 14px 0;
      align-items: center;
      h5{
         font-family: "gotham-bold";
         font-size: 18px;
      }

      a{
         font-size: 18px;
         color: #fff;
         text-decoration: underline;
      }
   }

   .main-header{
      background: rgba(variables.$color-ash, 0.05);
      @media (max-width: 1199px) {
         padding: 8px 0;
      }

      .navbar{
         padding: 0;

         .navbar-brand{
            img{
               width: 100%;
               max-width: 220px;

               @media (max-width: 767px){
                  max-width: 130px;
               }
            }
         }

         .navbar-toggler{
            img{
               max-width: 30px;
            }
         }
   
         .navbar-nav{
            .nav-item{
               &:not(:last-child){
                  margin-right: 50px;
               }

               &.dropdown{
                  .nav-link{
                     &:after{
                        display: none;
                     }
                  }

                  .dropdown-menu{
                     border-top: 3px solid #707070;
                     border-radius: 0;
                     margin: 0;
                     padding: 0;

                     .dropdown-item{
                        color: #B51026;
                        padding: 20px;
                        font-family: gotham-book;
                        font-size: 22px;
                        transition: all 0.2s ease-in-out;

                        &:hover{
                           color: #000;
                           background: rgba(#40B4E5, 0.2);
                        }
                     }
                  }
               }
   
               .nav-link{
                  padding: 30px 10px;
                  font-family: "gotham-bold";
                  font-size: 18px;
                  color: variables.$color-red;
                  transition: all 0.3s ease-in-out;
      
                  &:hover{
                     color: variables.$color-darkblue;
                  }
               }
            }
         }
      }


      .mobile-nav{
         .offcanvas-header{
            background: rgba(#58595B, 0.05);

            img{
               max-width: 130px;
            }
         }
         .mobile-nav-item{
            padding-bottom: 25px;
            a{
               font-family: "gotham-book";
               font-size: 22px;
               color: rgb(0, 0, 0);
               transition: all 0.1s ease-in-out;

               &:hover{
                  color: #40B4E5;
               }
            }
         }
      }
   }

   .promotional-header{
      img{
         @media (max-width: 991px){
            max-width: 150px;
         }
      }

      .promotional-text{
         display: grid;
         place-items: center;

         p{
            font-family: "gotham-bold";
            font-size: 18px;

            @media (max-width: 991px){
               font-size: 16px;
            }
         }
      }
   }
}